* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

body {
  background-color: #ffffff;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #3a4457;
}

header {
  background-color: #ffe4c4;
  text-align: unset;
  padding: 10px 0;
  position: fixed;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 100px;
}

h1, h2, h3, h4, h5 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;


}

h2 {
  font-size: 2.25em;
  font-weight: 500;

}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #3a4457;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ffffff;
}

a:hover,
a:focus {
  color: #3a4457;
  text-decoration: underline;

  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #3a4457;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #d27b63;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition-duration: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  /* selected link */
  color: #d27b63;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.contact:active {
  /* selected link */
  color: #d27b63;
}

/* Layout stlying */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid#4a4a4a;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

#hero h1 {
  text-align: center;
  /* Centers text */
  margin: 0;
  padding: 3em 0;
}

#about-page h3 {
  margin-top: 0;
}

.center {
  text-align: center;
}
.icon{
  background-color: #3a4457;
}
.logo {
  max-width: 100px;
  min-width: 100px;
}

nav>ul {
  list-style-type: none;
  padding: 0 5px;
  width: auto;
}



nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: #3a4457;
}

footer {
  text-align: center;
  width: 100%;
}

footer>ul>a {
  display: inline-block;
  padding: 0 15px;
}

footer ul>a>svg {
  width: 20px;
  height: 20px;
}

/*===============================
Medium devices (640px or larger)
=================================*/
@media only screen and (min-width:640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav>ul>li {
    display: inline-block;
  }
}

/*===============================
Large devices (1240px or larger)
=================================*/
@media only screen and (min-width:1240px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav>ul>li {
    display: inline-block;
  }
}

/*===============================
X-large devices (1440px or larger)
=================================*/
@media only screen and (min-width:1440px) {}

[class*="col-"] {
  float: left;

}

.col-lg-8 {
  width: 66.66%;
}

.col-lg-7 {
  width: 58.33%;
}

.col-md-6 {
  width: 50%;
  padding: 10px;

}

.col-lg-5 {
  width: 41.66%;
}

.col-xl-4 {
  width: 33.33%;
}
.col-xl-3 {
  width: 25%;
}
.com-xl-6{
  width: 50%;
}

/*===============================
small devices 320px to max 640px
================================*/
@media only screen and (max-width:640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    margin-top: 4px;
  }
  .col-md-6 {
    width: 100%;
    padding: 10px;

  }
.navtoggle li:not(:last-child){
  display:none;
}

  }
  .container-logo-center {
    text-align: left;
  }
}

/*===========
CSS Animation
=============*/
@keyframes color-change {
  0% {
    fill: #EDC655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
